<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/admin/css/style.css">
    <script src="/Public/admin/js/jquery.js"></script>
    <script src="/Public/admin/js/admin.js"></script>
    <script>
        function checkform(){
            var number = document.form.goods_number;
            var name = document.form.goods_name;
            var money = document.form.goods_money;
            var int = document.form.goods_int;
            var stock = document.form.goods_stock;
            var where = document.form.goods_where;

            if(!checkinput(number, 'req', '请输入商品编号！')){
                return false;
            }
            if(!checkinput(name, 'req', '请输入商品名称！')){
                return false;
            }
            if(!checkinput(money, 'req', '请输入商品价格！')){
                return false;
            }
            if(!checkinput(money, 'int', '商品价格必须为数字！')){
                return false;
            }
            if(!checkinput(int, 'req', '请输入商品积分！')){
                return false;
            }
            if(!checkinput(int, 'int', '商品积分必须为数字！')){
                return false;
            }
            if(!checkinput(stock, 'req', '请输入商品库存！')){
                return false;
            }
            if(!checkinput(stock, 'int', '商品库存必须为数字！')){
                return false;
            }
            <if condition="($permission eq 9)">
                if(!checkinput(where, 'req', '请选择门店！')){
                    return false;
                }
            </if>
        }
    </script>
</head>

<body class="admin_body">
<include file="header" />
<div class="content">
    <include file="nav_left" />
    <div id="right">
        <form name="form" method="post" action="/index.php/Home/admin/addgoods" onsubmit="return checkform()">
        <table class="goods_table">
            <tr><td>商品编号：</td><td><input class="form-control" type="text" name="goods_number" id="goods_number" required="required"></td></tr>
            <tr><td>商品名称：</td><td><input class="form-control" type="text" name="goods_name" id="goods_name" required="required"></td></tr>
            <tr><td>商品价格：</td><td><input class="form-control" type="text" name="goods_money" id="goods_money" required="required"></td></tr>
            <tr><td>商品积分：</td><td><input class="form-control" type="text" name="goods_int" id="goods_int" required="required"></td></tr>
            <tr><td>商品库存：</td><td><input class="form-control" type="text" name="goods_stock" id="goods_stock" required="required"></td></tr>
            <if condition="($permission eq 9)">
                <tr><td>所属门店：</td><td>
                    <select name="goods_where" class="form-control">
                        <option value="">请选择</option>
                        <foreach name="shops" item="value" >
                            <option value="{$value.shop_name}">{$value.shop_name}</option>
                        </foreach>
                    </select>
                </td></tr>
            </if>
            <tr><td colspan="2"><input style="margin-left: 50px;margin-right: 10px;margin-top: 10px;" class="formbtn" type="submit" name="dosubmit" value="提交"><input class="formbtn" type="reset" value="重置"></td></tr>
        </table>
        </form>
    </div>
</div>
</body>
</html>
