<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/admin/css/style.css">
    <script src="/Public/admin/js/jquery.js"></script>
    <script src="/Public/admin/js/admin.js"></script>

</head>

<body class="admin_body">
<include file="header" />
<div class="content">
    <include file="nav_left" />
    <div id="right">
        <form style="margin-top: 10px;margin-left: 10px;" action="/index.php/Home/admin/drgoods" method="post" enctype="multipart/form-data">
            <p>请选择要导入的CSV文件：<br/><input type="file" name="file"> <input type="submit"class="btn" value="导入CSV"></p>
        </form>
    </div>
</div>
</body>
</html>
