<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/admin/css/style.css">
    <script src="/Public/admin/js/jquery.js"></script>
    <script src="/Public/admin/js/admin.js"></script>

</head>

<body class="admin_body">
<include file="header" />
<div class="content">
    <include file="nav_left" />
    <div id="right">
        <div class="body">
            <form action="" method="post">
                <input type="text" required="required" name="log_number" placeholder="小票流水号"><input class="formbtn" type="submit" value="搜索">
            </form>
            <if condition="(!empty($log))">
                <table width="1000" style="margin-top: 20px">
                    <tr>
                        <th>流水号：{$log.logs_number}</th><th>收银员：{$log.user_name}</th><th>门店：{$log.user_where}</th><th>收银时间：{$log.time|date="Y-m-d",###}</th><th>交易金额：{$log.mtotal}</th><th>交易积分：{$log.itotal}</th><th>实收金额：{$log.money}</th><th>买家：{$log.buyer}</th>
                    </tr>
                </table>
                <form method="post">
                    <table class="goods_view_table goods_table" style="width: 100%" border="1" cellpadding="0" cellspacing="0">
                        <tr>
                            <th>商品编号</th><th>商品名称</th><th>商品金额</th><th>商品积分</th><th>商品数量</th><th>金额小计</th><th>积分小计</th>
                        </tr>
                        <foreach name="goods" item="value" >
                            <tr>
                                <td align="center"><input type="checkbox" name="id" value="{$value.id}">{$value.goods_number}</td>
                                <td align="center">{$value.goods_name}</td>
                                <td align="center">{$value.goods_money}</td>
                                <td align="center">{$value.goods_int}</td>
                                <td align="center">{$value.goods_num}</td>
                                <td align="center">{$value['goods_num']*$value['goods_money']}</td>
                                <td align="center">{$value['goods_num']*$value['goods_int']}</td>
                            </tr>
                        </foreach>
                    </table>
                    <div style="margin-left: 50px;margin-top: 20px">
                        <div style="float: left;">
                            <input type="hidden" name="act" value="backgoods">
                            <input type="text" name="num" placeholder="请输入退货数量" required="required">
                            <input type="submit" value="退单品" class="formbtn">
                        </div>
                        <a style="display: block;text-align: center;float: left;margin-left: 5px" class="formbtn" href="">退整单</a>
                    </div>
                </form>

            </if>
        </div>
    </div>
</div>
</body>
</html>
