<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/admin/css/style.css">
    <script src="/Public/admin/js/jquery.js"></script>
    <script src="/Public/admin/js/admin.js"></script>
</head>

<body class="admin_body">
<include file="header" />
<div class="content">
    <include file="nav_left" />
    <div id="right">
        <table class="goods_view_table goods_table" style="width: 100%" border="1" cellpadding="0" cellspacing="0">
            <tr>
                <th>收银员名</th><th>联系电话</th><th>所在门店</th><th>退票权限</th><th>分店管理</th><th>操作</th>
            </tr>
            <foreach name="users" item="value" >
            <tr>
                <td align="center">{$value.user_name}</td>
                <td align="center">{$value.tel}</td>
                <td align="center">{$value.user_where}</td>
                <td align="center">{$permission[$value[permission]]}</td>
                <td align="center">{$admin[$value[permission]]}</td>
                <td align="center"><a href="/index.php/Home/Admin/edituser/uid/{$value.uid}">编辑</a> | <a href="/index.php/Home/Admin/deluser/uid/{$value.uid}">删除</a></td>
            </tr>
            </foreach>
        </table>
        <div class="page">
            {$page}
        </div>
    </div>
</div>
</body>
</html>
