<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/public/admin/css/style.css">
    <script src="/public/admin/js/jquery.js"></script>
    <script src="/public/admin/js/admin.js"></script>
</head>

<body class="admin_body">
<include file="header" />
<div class="content">
    <include file="nav_left" />
    <div id="right">
        <table width="1000" style="margin-top: 20px">
            <tr>
                <th>流水号：{$log.logs_number}</th><th>收银员：{$log.user_name}</th><th>门店：{$log.user_where}</th><th>收银时间：{$log.time|date="Y-m-d",###}</th><th>交易金额：{$log.mtotal}</th><th>交易积分：{$log.itotal}</th><th>实收金额：{$log.money}</th><th>买家：{$log.buyer}</th>
            </tr>
        </table>
        <table class="goods_view_table goods_table" style="width: 100%" border="1" cellpadding="0" cellspacing="0">
            <tr>
                <th>商品编号</th><th>商品名称</th><th>商品金额</th><th>商品积分</th><th>商品数量</th><th>金额小计</th><th>积分小计</th>
            </tr>
            <foreach name="goods" item="value" >
            <tr>
                <td align="center">{$value.goods_number}</td>
                <td align="center">{$value.goods_name}</td>
                <td align="center">{$value.goods_money}</td>
                <td align="center">{$value.goods_int}</td>
                <td align="center">{$value.goods_num}</td>
                <td align="center">{$value['goods_num']*$value['goods_money']}</td>
                <td align="center">{$value['goods_num']*$value['goods_int']}</td>
            </tr>
            </foreach>
        </table>
        <div class="page">
            {$page}
        </div>
    </div>
</div>
</body>
</html>
