<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/index/css/style.css">
    <script src="/Public/admin/js/jquery.js"></script>
    <script src="/Public/index/js/index.js"></script>
</head>

<body class="cash_body">
    <div class="cashbg">
    <div class="center">
        <div class="cash_head">
            <form class="cashform" action="/index.php/Home/index/index" method="post">
            商品编号/条形码：<input type="text" name="goods_number" autofocus="autofocus">
            </form>
            <div style="float:right;font-size: 14px">
                <if condition="$permission egt 1">
                <a target="_blank"  href="/index.php/home/admin/editlog">退单操作</a> |</if> <a href="/index.php/Home/index/index/act/re">放弃交易</a> | <a  href="/index.php/Home/index/logout">退出交班</a></div>
            <div style="float:right;margin-right: 50px;font-size: 14px">收银员：{$user_name}</div>
            <div style="float:right;margin-right: 50px;font-size: 14px">门店：{$user_where}</div>

        </div>
        <div class="clear"></div>
        <form target="_blank" method="post" action="/index.php/Home/index/jiesuan" id="cash_form">
            <table width="1000px" border="1" cellspacing="0" cellpadding="0" class="goods_table">
                <tr>
                    <th width="400px">商品名称</th><th>商品价格</th><th>商品积分</th><th width="80px">商品数量</th><th>金额小计</th><th>积分小计</th>
                </tr>
                <foreach name="goods" item="value">
                <tr>
                    <input class="goods_number" type="hidden" name="goods_number[]" value="{$value.goods_number}">
                    <input type="hidden" name="goods_name[]" value="{$value.goods_name}">
                    <input type="hidden" name="goods_money[]" value="{$value.goods_money}">
                    <input type="hidden" name="goods_int[]" value="{$value.goods_int}">
                    <input type="hidden" name="mcount[]" value="{$value.mcount}">
                    <input type="hidden" name="icount[]" value="{$value.icount}">
                    <td align="center">{$value.goods_name}</td>
                    <td align="center" class="goods_money">{$value.goods_money}</td>
                    <td align="center" class="goods_int">{$value.goods_int}</td>
                    <td align="center" class="goods_num"><input style="width: 30px;background-color: #e6f1fc;border: none;text-align: center" type="text" name="goods_num[]" value="{$value.goods_num}" required="required"></td>
                    <td align="center" class="mcount">{$value.mcount}</td>
                    <td align="center" class="icount">{$value.icount}</td>
                </tr>
                </foreach>
            </table>
        </form>
        <div class="cash">
            <div class="total">
                所需积分：<input type="hidden" class="itotal" name="itotal" value="{$itotal}" form="cash_form"><span class="itotal">{$itotal}</span><br>
                应收金额：<span id="ymoney"><input type="hidden" name="mtotal" value="{$mtotal}" form="cash_form">{$mtotal}</span><br>
                实收金额：<span id="money"><input id="inputmoney" autocomplete="off" value="{$money}" type="text" style="width:40px;height: 18px;" name="money" required="required"></span><br>
                找    零：<span id="zmoney"></span><br>
            </div>
            <div class="clear"></div>
            <form method="post" action="/index.php/Home/index/payint" target="_blank" onsubmit="payint()">
                <span class="buyer"><input placeholder="输入用户后按回车进入支付积分页面" style="width: 180px;border: 1px solid #ccc" type="text" name="buyer" required="required"></span>
                <input type="hidden" name="itotal" value="{$itotal}">
            </form>
            <input type="submit" style="margin-top: 10px" class="formbtn" value="结算打印" form="cash_form">
        </div>
    </div>
    </div>
</body>
</html>
