<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/index/css/style.css">
    <script src="/Public/admin/js/jquery.js"></script>
    <script src="/Public/index/js/index.js"></script>
</head>

<body class="cash_body">
    <div class="center">
        <div class="cash_head">
            <form class="cashform" action="/index.php/Home/index/index" method="post">
            商品编号：<input type="text" name="goods_number" autofocus="autofocus"><input class="formbtn" type="submit" value="提交">
            </form>
            <div style="float:right;margin-right: 50px;font-size: 14px"><a style="color:#fff" href="/index.php/Home/index/index/act/re">放弃本次交易</a> | <a style="color: #FFFFFF" href="/index.php/Home/index/logout">退出</a></div>
            <div style="float:right;margin-right: 50px;font-size: 14px">收银员：{$user_name}</div>
            <div style="float:right;margin-right: 50px;font-size: 14px">门店：{$user_where}</div>

        </div>
        <div class="clear"></div>
        <form method="post" action="/index.php/Home/index/jiesuan" id="cash_form">
            <table width="1000px" border="1" cellspacing="0" cellpadding="0">
                <tr>
                    <th width="400px">商品名称</th><th>商品价格</th><th>商品积分</th><th width="80px">商品数量</th><th>金额小计</th><th>积分小计</th>
                </tr>
                <foreach name="goods" item="value">
                <tr>
                    <input class="goods_number" type="hidden" name="goods_number[]" value="{$value.goods_number}">
                    <input type="hidden" name="goods_name[]" value="{$value.goods_name}">
                    <input type="hidden" name="goods_money[]" value="{$value.goods_money}">
                    <input type="hidden" name="goods_int[]" value="{$value.goods_int}">
                    <input type="hidden" name="mcount[]" value="{$value.mcount}">
                    <input type="hidden" name="icount[]" value="{$value.icount}">
                    <td align="center">{$value.goods_name}</td>
                    <td align="center" class="goods_money">{$value.goods_money}</td>
                    <td align="center" class="goods_int">{$value.goods_int}</td>
                    <td align="center" class="goods_num"><input style="width: 30px;background-color: #000;border: none;color:#fff;text-align: center" type="text" name="goods_num[]" value="{$value.goods_num}" required="required"></td>
                    <td align="center" class="mcount">{$value.mcount}</td>
                    <td align="center" class="icount">{$value.icount}</td>
                </tr>
                </foreach>
            </table>
        </form>
        <div class="total">
            所需积分：<input type="hidden" class="itotal" name="itotal" value="{$itotal}" form="cash_form"><span class="itotal">{$itotal}</span><br>
            应收金额：<span id="ymoney"><input type="hidden" name="mtotal" value="{$mtotal}" form="cash_form">{$mtotal}</span><br>
            实收金额：<span id="money"><input autocomplete="off" value="{$money}" type="text" style="width:40px" name="money" required="required"></span><button id="sure">确定</button><br>
            找    零：<span id="zmoney"></span><br>
        </div>
        <div class="clear"></div>
        <div class="payint">
            <h1>支付积分</h1>
            <table>
                <tr><td align="left">用户名：</td><td><span class="buyer"><input id="buyer" type="text" name="buyer" required="required"></span></td></tr>
                <tr><td align="left">密码：</td><td><input id="password" type="password" name="password" required="required"></td></tr>
                <input type="hidden" id="to_user" name="to_user" value="tianwei">
                <tr><td colspan="2"><input type="button" class="formbtn" value="支付积分" onclick="payint()"><span id="state"></span></td></tr>
            </table>
        </div>
        <input type="submit" style="margin-top: 10px" class="formbtn" value="打印小票" form="cash_form">
    </div>
</body>
</html>
