<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/index/css/login.css">
</head>

<body class="login_body">
<DIV id=logo><h1 style="color: #fff;font-family: '楷体'">零乐购商超收银登陆</h1></DIV>
<DIV id=login>
    <FORM method=post action=/index.php/home/index/login>
         <P id=info>请输入用户名和密码</P>
        <DIV class=control-group>
            <SPAN class=icon-user></SPAN><input placeholder="用户名" class="text" id="user_name" name="user_name" type="text" required="required">
        </DIV>
        <DIV class=control-group>
            <SPAN class=icon-lock></SPAN><input placeholder="密码" class="text" name="password" type="password" required="required">
        </DIV>
        <DIV class=control-group>
            <SPAN class=icon-home></SPAN>
            <select name="user_where">
                <option value="0">请选择</option>
                <foreach name="shops" item="value">
                    <option value="{$value.shop_name}">{$value.shop_name}</option>
                </foreach>
            </select>
        </DIV>
        <DIV class=control-group>
            <SPAN class=icon-mail></SPAN><input placeholder="验证码" class="text2" name="captcha" type="text" required="required" style="width: 80px;float: left;margin-right: 10px">
            <img style="float:left" onclick="this.src='/index.php/Home/index/verifycode?'+ Math.round(Math.random()*10000)" src='/index.php/Home/index/verifycode'>
        </DIV>
        <div class="clear"></div>

        <DIV class=login-btn style="margin-top: 10px"><INPUT id=login-btn value="登 录" type=submit name=submit></DIV></FORM>
</DIV>

</body>
</html>
