<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="/Public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Public/index/css/style.css">
    <style>
        @media print {
            .noprint { display: none;color:green }
        }
    </style>
</head>

<body style="background-color: #fff;font-size: 12px">
    <div class="print_body">
        <table width="240" style="margin-top: 30px">
            <tr><td>门店：{$log.user_where}</td><td>收银员：{$user_name}</td></tr>
            <tr><td colspan="2">日期：{$log.time|date="Y-m-d H:i:s",###}</td></tr>
            <tr><td colspan="2">票号：{$log.logs_number}</td></tr>
        </table>
        <div>==================================</div>
        <table width="300">
            <tr><th>品名</th><th>数量</th><th>单价</th><th>积分</th><th>金额小计</th><th>积分小计</th></tr>
            <foreach name="goods" item="value" >
            <tr>
                <td>{$value.goods_name}</td>
                <td>{$value.goods_num}</td>
                <td>{$value.goods_money}</td>
                <td>{$value.goods_int}</td>
                <td>{$value['goods_num'] * $value['goods_money']}</td>
                <td>{$value['goods_num'] * $value['goods_int']}</td>
            </tr>
            </foreach>
        </table>
        <div>-----------------------------------------------------------</div>
        <table width="200">
            <tr><td>应付：{$log.mtotal}</td><td>实收：{$log.money}</td></tr>
            <tr><td>找零：{$log['money'] - $log['mtotal']}</td><td>总积分：{$log.itotal}</td></tr>
        </table>
        <div>==================================</div>
    </div>
    <input type="button" style="margin-top: 20px" value="打印小票" class="formbtn noprint" onclick="window.print()">
    <a href="/"><button class="formbtn noprint">继续收银</button></a>
</body>
</html>
